#filter-section {
    padding: 20px 15px;
    display: flex;
    #filter-btn {
        border: 1px solid $dark-grey;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        &.hiding {
            color: white;
            background-color: black;
        }
    }
}
#filters {
    margin-left: 40px;
    &.hide {
        display: none;
    }
    .filter {
        border: 1px solid $dark-grey;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        padding-right: 30px;
        margin-right: 10px;
        margin-bottom: 15px;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
        &.active {
            background-color: $yellow;
            border: 1px solid $yellow;
        }
        &.active:after {
            content: "X";
            position: absolute;
            right: 11px;
        }
    }
}