@mixin  circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
body {
    background-color: black;
    font-family: "Poppins",sans-serif;
}
header {
    background-color: black;
    color: $yellow;
    padding: 10px 15px;
    div#profileImage {
        @include circle;
        float: left;
        .profileImageCircle {
            @include circle;
        }
        img.profile-image {
            @include circle;
        }
        
        
    }

    div#logo {
        text-align: center;
        img {
            max-width: 255px;
            width: 100%;
        }
    }
    h1 {
        font-family: "Poppins",sans-serif;
        font-size:25px;
    }
}
